<web-app>
<servlet>
		<servlet-name>calcinput</servlet-name>
		<jsp-file>/calcinput.jsp</jsp-file>
	</servlet>


	<servlet-mapping>
		<servlet-name>calcinput</servlet-name>
		<url-pattern>/calcinput</url-pattern>
	</servlet-mapping>





	<servlet>
		<servlet-name>infotest</servlet-name>
		<servlet-class>InfoTest</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>infotest</servlet-name>
		<url-pattern>/infotest</url-pattern>
	</servlet-mapping>





	<servlet>
		<servlet-name>calcresult</servlet-name>
		<jsp-file>/calcresult.jsp</jsp-file>
	</servlet>


	<servlet-mapping>
		<servlet-name>calcresult</servlet-name>
		<url-pattern>/calcresult</url-pattern>
	</servlet-mapping>


</web-app>